name: Android ARM64 Build

on:
  push:
    tags: ['v*']
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: aarch64-linux-android
          override: true

      - run: |
          wget -q https://dl.google.com/android/repository/android-ndk-r25b-linux.zip
          unzip -q android-ndk-r25b-linux.zip
          export ANDROID_NDK_HOME=$PWD/android-ndk-r25b

          # set linker for cargo & CC for build scripts
          export CC_aarch64_linux_android=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/aarch64-linux-android21-clang
          export CARGO_TARGET_AARCH64_LINUX_ANDROID_LINKER=$CC_aarch64_linux_android
          echo "CARGO_TARGET_AARCH64_LINUX_ANDROID_LINKER=$CC_aarch64_linux_android" >> $GITHUB_ENV

      - run: cargo build --release --target aarch64-linux-android

      - run: |
          mkdir -p artifact
          cp target/aarch64-linux-android/release/rustkpcli artifact/

      - uses: actions/upload-artifact@v4
        with:
          name: rustkpcli-android-arm64
          path: artifact/
