name: Android ARMv7 Build

on:
  push:
    tags: ['v*']
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: armv7-linux-androideabi
          override: true

      - run: |
          wget -q https://dl.google.com/android/repository/android-ndk-r25b-linux.zip
          unzip -q android-ndk-r25b-linux.zip
          export ANDROID_NDK_HOME=$PWD/android-ndk-r25b

          # set linker & CC for cargo build scripts
          export CC_armv7_linux_androideabi=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin/armv7a-linux-androideabi21-clang
          export CARGO_TARGET_ARMV7_LINUX_ANDROIDEABI_LINKER=$CC_armv7_linux_androideabi
          echo "CARGO_TARGET_ARMV7_LINUX_ANDROIDEABI_LINKER=$CC_armv7_linux_androideabi" >> $GITHUB_ENV

      - run: cargo build --release --target armv7-linux-androideabi

      - run: |
          mkdir -p artifact
          cp target/armv7-linux-androideabi/release/rustkpcli artifact/

      - uses: actions/upload-artifact@v4
        with:
          name: rustkpcli-android-armv7
          path: artifact/
