name: macOS x64

on:
  push:
    tags: ['v*']
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-apple-darwin
      - run: cargo build --release --target x86_64-apple-darwin
      - run: |
          mkdir -p artifact
          cp target/x86_64-apple-darwin/release/rustkpcli artifact/
      - uses: actions/upload-artifact@v4
        with:
          name: rustkpcli-macos-x64
          path: artifact/
